detailTest
<div class="margin-top col-6 text-center">
    <h3 class="testName thicker text-center">${testName}</h3>
    <button type="button" class="btn btn-secondary float-right margin-right15" onclick="changeVisibility(this)"><span
            class="oi oi-menu"></span></button>
    <div class="hide margin-top" role="hidden" style="display: none;">
        <div class="row">
            <div class="col">
                <div class="card text-center card-width">
                    <div class="card-body">
                        <h5 class="card-title">Iterations</h5>
                        <p class="card-text">${numberOfIterations}</p>
                    </div>
                </div>
                <div class="card text-center card-width">
                    <div class="card-body">
                        <h5 class="card-title">Energie Moyenne</h5>
                        <p class="card-text takeEnergy">${energyTest} Joules</p>
                    </div>
                </div>
                <div class="card text-center card-width">
                    <div class="card-body">
                        <h5 class="card-title">Durée moyenne</h5>
                        <p class="card-text">${durationTest} ms</p>
                    </div>
                </div>
                <div class="card text-center card-width">
                    <div class="card-body">
                        <h5 class="card-title">Tendance</h5>
                        <span class='arrow'></span>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card text-center card-width">
                    <div class="card-body">
                        <div class="canvas_boxplot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>