<div class="header_div">
    <h2>Numéro de build : ${buildNumber} <br>
        Projet : ${projectName} <br>
        Branche : ${branchName} <br>
        Commit : ${commitName} <br>
        Durée de l'éxecution : ${executionDuration}
    </h2>
    <h3>${energyAllBuild} Joules répartis sur ${numberOfTests} tests</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="filter" placeholder="Filter can be regular expression">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick='printPowerapiCIData(actual_powerapi_data, document.getElementById("filter").value)'>Go !</button>
        </span>
    </div>
</div>